<section class="our-corts">
    <div class="our-corts__container">
        <h2 class="our-corts__title title">Наши корты</h2>
        <div class="our-corts__desc">
            <p>У нас вы сможете поиграть на новейших кортах, созданных в Испании с учетом всех современных стандартов и
                технологий. Каждый корт оборудован качественным покрытием, обеспечивающим отличное сцепление и комфорт
                во
                время игры. </p>
            <p>Просторные и светлые площадки позволяют наслаждаться игрой в любое время суток, а специальные ограждения
                гарантируют безопасность и удобство. Приходите и оцените наши корты — идеальное место для активного
                отдыха и
                соревнований!</p>
        </div>
        <div class="our-corts__img">
            <picture>
                <img src="images/our.png" alt="..." loading="lazy">
            </picture>
        </div>
    </div>

</section>