.link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: var(--ff_mulish);
}
@media (max-width: 575px) {
  .link {
    width: 100%;
  }
}
@media (min-width: 1023px) {
  .link:hover span {
    background-color: var(--primary_hover);
  }
  .link:hover .link__arrow svg {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
.link span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: var(--primary);
  border-radius: var(--radius);
  color: var(--white);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.link span svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.link__name {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 1.4;
  padding: 10px 25px;
}
@media (max-width: 767px) {
  .link__name {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .link__name {
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.link__arrow {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 10px;
}