<a href="@@url" class="link">
    @@if (name) {
    <span class="link__name">@@name</span>
    }
    @@if (arrow) {
    <span class="link__arrow">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.3638 5.63623L5.63585 18.3642" stroke="white" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            <path d="M9.87845 5.6362L18.3637 5.63619L18.3637 14.1215" stroke="white" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </span>
    }
</a>