<section class="benefit">
    <div class="benefit__container">
        <h2 class="benefit__title title">Преимущества занятий падел-теннисом у нас</h2>
        <div class="benefit__block">

            <div class="benefit-item">
                <div class="benefit-item__inner">
                    <div class="benefit-item__ico">
                        <picture>
                            <img src="images/benefit/item1.svg" alt="svg">
                        </picture>
                    </div>
                    <div class="benefit-item__info">
                        <div class="benefit-item__name">Аренда инвентаря</div>
                        <div class="benefit-item__text">В нашем клубе вы можете арендовать ракетки для удобной игры в
                            падел-теннис на любом уровне</div>
                    </div>
                </div>
            </div>

            <div class="benefit-item">
                <div class="benefit-item__inner">
                    <div class="benefit-item__ico">
                        <picture>
                            <img src="images/benefit/item2.svg" alt="svg">
                        </picture>
                    </div>
                    <div class="benefit-item__info">
                        <div class="benefit-item__name">Занятия с тренером</div>
                        <div class="benefit-item__text">Занимайтесь падел-теннисом под руководством опытного тренера,
                            который поможет вам достичь новых высот в спорте.</div>
                    </div>
                </div>
            </div>

            <div class="benefit-item">
                <div class="benefit-item__inner">
                    <div class="benefit-item__ico">
                        <picture>
                            <img src="images/benefit/item3.svg" alt="svg">
                        </picture>
                    </div>
                    <div class="benefit-item__info">
                        <div class="benefit-item__name">Просторная раздевалка</div>
                        <div class="benefit-item__text">Наша просторная раздевалка обеспечит вам комфорт и безопасное
                            хранение ваших личных вещей</div>
                    </div>
                </div>

            </div>

            <div class="benefit-item">
                <div class="benefit-item__img">
                    <div class="benefit-item__img">
                        <picture>
                            <img src="images/benefit/pic1.jpg" alt="..." loading="lazy">
                        </picture>
                    </div>
                </div>
            </div>

            <div class="benefit-item">
                <div class="benefit-item__img">
                    <picture>
                        <img src="images/benefit/pic2.jpg" alt="..." loading="lazy">
                    </picture>
                </div>
            </div>

            <div class="benefit-item">
                <div class="benefit-item__inner">
                    <div class="benefit-item__ico">
                        <picture>
                            <img src="images/benefit/item4.svg" alt="svg">
                        </picture>
                    </div>
                    <div class="benefit-item__info">
                        <div class="benefit-item__name">Комфортный душ и полотенца</div>
                        <div class="benefit-item__text">После тренировки вы сможете расслабиться в комфортном душе и
                            воспользоваться мягкими полотенцами.</div>
                    </div>
                </div>

            </div>

            <div class="benefit-item">
                <div class="benefit-item__inner">
                    <div class="benefit-item__ico">
                        <picture>
                            <img src="images/benefit/item5.svg" alt="svg">
                        </picture>
                    </div>
                    <div class="benefit-item__info">
                        <div class="benefit-item__name">Удобная парковка</div>
                        <div class="benefit-item__text">Предлагаем удобную и просторную парковку, чтобы ваш автомобиль
                            всегда находился под присмотром и был в безопасности.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>