<section class="rules-padel">
    <div class="rules-padel__container">
        <div class="rules-padel__iinner">

            <h2 class="rules-padel__title ttile">Правила падел-тенниса</h2>
            <div class="rules-padel__items">

                <div class="rules-padel-item">
                    <div class="rules-padel-item__inner">

                        <div class="rules-padel-item__desc">
                            <div class="rules-padel-item__text">Эти правила делают падел-теннис динамичной и
                                увлекательной игрой, доступной для игроков всех уровней! </div>
                        </div>
                    </div>
                </div>

                <div class="rules-padel-item">
                    <div class="rules-padel-item__inner">
                        <div class="rules-padel-item__ico">
                            <picture>
                                <img src="../../../images/rules/item1.svg" alt="svg">
                            </picture>
                        </div>
                        <div class="rules-padel-item__desc">
                            <div class="rules-padel-item__name">Игровое поле </div>
                            <div class="rules-padel-item__text">Падел-теннис играется на закрытом корте, размером 20x10
                                метров, с ограждениями по бокам и за задней линией.</div>
                        </div>
                    </div>
                </div>

                <div class="rules-padel-item">
                    <div class="rules-padel-item__inner">
                        <div class="rules-padel-item__ico">
                            <picture>
                                <img src="../../../images/rules/item2.svg" alt="svg">
                            </picture>
                        </div>
                        <div class="rules-padel-item__desc">
                            <div class="rules-padel-item__name">Команды</div>
                            <div class="rules-padel-item__text">Играют в парных (2 на 2) матчей.</div>
                        </div>
                    </div>
                </div>

                <div class="rules-padel-item">
                    <div class="rules-padel-item__inner">
                        <div class="rules-padel-item__ico">
                            <picture>
                                <img src="../../../images/rules/item3.svg" alt="svg">
                            </picture>
                        </div>
                        <div class="rules-padel-item__desc">
                            <div class="rules-padel-item__name">Сет и матч</div>
                            <div class="rules-padel-item__text">Матч состоит из сетов, обычно до 6 выигранных геймов.
                                Для победы в сете необходимо иметь преимущество в 2 гейма.</div>
                        </div>
                    </div>
                </div>

                <div class="rules-padel-item">
                    <div class="rules-padel-item__inner">
                        <div class="rules-padel-item__ico">
                            <picture>
                                <img src="../../../images/rules/item4.svg" alt="svg">
                            </picture>
                        </div>
                        <div class="rules-padel-item__desc">
                            <div class="rules-padel-item__name">Подача</div>
                            <div class="rules-padel-item__text">Подача выполняется снизу, мяч должен отскочить от земли
                                перед ударом. Подающий игрок должен стоять за задней линией.</div>
                        </div>
                    </div>
                </div>

                <div class="rules-padel-item">
                    <div class="rules-padel-item__inner">
                        <div class="rules-padel-item__ico">
                            <picture>
                                <img src="../../../images/rules/item5.svg" alt="svg">
                            </picture>
                        </div>
                        <div class="rules-padel-item__desc">
                            <div class="rules-padel-item__name">Игра с отскоком</div>
                            <div class="rules-padel-item__text">Мяч может отскакивать от стен, но не может касаться
                                земли дважды. Игроки могут использовать стены для отскока мяча.</div>
                        </div>
                    </div>
                </div>

                <div class="rules-padel-item">
                    <div class="rules-padel-item__inner">
                        <div class="rules-padel-item__ico">
                            <picture>
                                <img src="../../../images/rules/item6.svg" alt="svg">
                            </picture>
                        </div>
                        <div class="rules-padel-item__desc">
                            <div class="rules-padel-item__name">Очки</div>
                            <div class="rules-padel-item__text">Система подсчета очков аналогична теннису: 15, 30, 40 и
                                гейм. При равенстве 40-40 (дьюс) необходимо выиграть два очка подряд.</div>
                        </div>
                    </div>
                </div>

                <div class="rules-padel-item">
                    <div class="rules-padel-item__inner">
                        <div class="rules-padel-item__ico">
                            <picture>
                                <img src="../../../images/rules/item7.svg" alt="svg">
                            </picture>
                        </div>
                        <div class="rules-padel-item__desc">
                            <div class="rules-padel-item__name">Фолы</div>
                            <div class="rules-padel-item__text">Мяч считается вне, если он касается земли за пределами
                                корта или если игрок касается сетки.</div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>