<section class="padel">
    <div class="padel__container">
        <h2 class="padel__title title">Падел-теннис –&nbsp;это динамичная и захватывающая игра, становящаяся все более
            популярной во всем
            мире</h2>
        <div class="padel__block">
            <div class="padel__item">
                <picturec class="padel__img">
                    <img src="images/padel/item1.jpg" alt="..." loading="lazy">
                </picturec>
                <div class="padel__text">
                    <p>Этот вид спорта является смесью большого тенниса и сквоша. Благодаря
                        увлекательным матчам и дружественной атмосфере, падел-теннис стремительно ворвался в топ
                        ракеточных
                        видов спорта. Ощутите адреналин и энергию игры в нашем клубе!</p>
                </div>
            </div>
            <div class="padel__item">
                <picturec class="padel__img">
                    <img src="images/padel/item2.jpg" alt="..." loading="lazy">
                </picturec>
            </div>
        </div>
    </div>
</section>