<section class="service-banner">
    <div class="service-banner__container">
        <div class="service-banner__wrapper">
            <div class="service-banner__items">
                <div class="service-banner__item">
                    <div class="service-banner__info">
                        <h1 class="service-banner__title title">Наши услуги</h1>
                        <div class="service-banner__text">У нас вы можете поиграть на новых профессиональных кортах,
                            взять в
                            аренду или приобрести качественные ракетки, мячики и обувь для падел-тенниса от ведущих
                            производителей, а также записаться на занятие с тренером!</div>
                        <div class="service-banner__more">
                            @@include('../../elements/link/template.html', {
                            name: 'Записаться в клуб',
                            url: '#',
                            arrow: true
                            })
                        </div>
                    </div>

                    <div class="service-banner__service-picture">
                        <img src="images/service/item7.jpg" alt="...">
                        <img src="images/service/item8.jpg" alt="...">
                    </div>
                </div>
                <div class="service-banner__item">
                    <img src="images/service-banner.jpg" alt="...">
                </div>
            </div>
        </div>
    </div>
</section>