<section class="slider-block">
    <div class="slider-block__container">
        @@if(title) {
        <h2 class="slider-block__title title">@@title</h2>
        }

        <div class="swiper slider">
            <div class="swiper-wrapper slider__wrap">
                <div class="slider__slide swiper-slide">
                    <img src="images/slider/item1.jpg" alt="...">
                </div>
                <div class="slider__slide swiper-slide">
                    <img src="images/slider/item2.jpg" alt="...">
                </div>
                <div class="slider__slide swiper-slide">
                    <img src="images/slider/item3.jpg" alt="...">
                </div>
                <div class="slider__slide swiper-slide">
                    <img src="images/slider/item4.jpg" alt="...">
                </div>
                <div class="slider__slide swiper-slide">
                    <img src="images/slider/item5.jpg" alt="...">
                </div>
                <div class="slider__slide swiper-slide">
                    <img src="images/slider/item6.jpg" alt="...">
                </div>
                <div class="slider__slide swiper-slide">
                    <img src="images/slider/item7.jpg" alt="...">
                </div>
                <div class="slider__slide swiper-slide">
                    <img src="images/slider/item1.jpg" alt="...">
                </div>
                <div class="slider__slide swiper-slide">
                    <img src="images/slider/item2.jpg" alt="...">
                </div>
                <div class="slider__slide swiper-slide">
                    <img src="images/slider/item3.jpg" alt="...">
                </div>
                <div class="slider__slide swiper-slide">
                    <img src="images/slider/item4.jpg" alt="...">
                </div>
                <div class="slider__slide swiper-slide">
                    <img src="images/slider/item5.jpg" alt="...">
                </div>
                <div class="slider__slide swiper-slide">
                    <img src="images/slider/item6.jpg" alt="...">
                </div>
                <div class="slider__slide swiper-slide">
                    <img src="images/slider/item7.jpg" alt="...">
                </div>
            </div>
            <div class="slider__pagination"></div>
            <div class="slider__btns">
                <div class="slider__btn-prev"></div>
                <div class="slider__btn-next"></div>
            </div>
        </div>
    </div>
</section>