.padel {
  position: relative;
  &::after {
    content: "";
    display: block;
    background-image: url("../../../images/strips/strip1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100%;
    position: absolute;
    left: -25%;
    right: 0;
    top: -65%;
    z-index: -1;
  }
  &__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    @media (max-width: 1023px) {
      grid-template-columns: 1fr;
    }
  }
  &__title {
    margin-bottom: 20px;
  }
  &__item {
    &:first-child {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }
    }
    &:last-child {
    }
  }
  &__img {
    border-radius: var(--radius_medium);
    overflow: hidden;
    display: block;
    height: 100%;
  }
  &__text {
    border-radius: var(--radius_medium);
    overflow: hidden;
    background-color: var(--secondary);
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;

    &::after {
      content: "";
      background-image: url("../../../images/padel/bg.png");
      background-position: 50% 0%;
      background-repeat: no-repeat;
      //background-size: contain;
      display: block;
      //height: 100px;
      padding-bottom: 50%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      @media (max-width: 767px) {
        background-image: none;
      }
    }
    p {
      margin-top: auto;
      font-size: 20px;
      font-family: var(--ff_mulish);
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
  }
}
