<section class="main-banner">
    <div class="main-banner__container">
        <div class="main-banner__list">
            <div class="main-banner__item">
                <div class="main-banner__inner">
                    <h1 class="main-banner__title title">Первый
                        Padel Tennis клуб
                        в Самарской области</h1>
                    <div class="main-banner__text">Присоединяйтесь к стремительно набирающей популярность игре!</div>
                    <div class="main-banner__more">
                        @@include('../../elements/link/template.html', {
                        name: 'Записаться в клуб',
                        url: '#',
                        arrow: true
                        })
                    </div>
                    <div class="main-banner__cards">
                        <div class="main-banner__card">
                            <span>2</span>
                            <p>профессиональных корта для падел-тенниса из Испании</p>
                        </div>
                        <div class="main-banner__card">
                            <span>25</span>
                            <p>минут от центра Самары</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-banner__item">
                <picture>
                    <img src="../../../images/main-banner/big-item.png" alt="main-banner">
                </picture>
            </div>
        </div>
    </div>
</section>