<section class="sign-up">
    <div class="sign-up__container">
        <div class="sign-up__wrapper">
            <form>
                <div class="sign-up__form">
                    <h2 class="sign-up__title title">@@title</h2>
                    <div class="sign-up__subtitle">@@subtitle</div>
                    <div class="sign-up__inputs">
                        <label>
                            <input type="text" name="" id="" placeholder="Имя*" required>
                        </label>
                        <label>
                            <input type="tel" placeholder="+7 (000) 000-00-00">
                        </label>
                        <label>
                            <input type="submit">
                        </label>
                    </div>
                    <div class="sign-up-checkbox">
                        <label class="sign-up-checkbox__label">
                            <input type="checkbox" name="" id="" class="sign-up-checkbox__input" checked>
                            <span class="sign-up-checkbox__checked"></span>
                            <span class="sign-up-checkbox__text">
                                Я соглашаюсь на
                                <a href="/consent.html" target="_blank" class="sign-up-checkbox__text-link">обработку
                                    персональных
                                    данных</a>
                            </span>
                        </label>
                    </div>
                    <div class="sign-up__img">
                        <picture>
                            <img src="images/sign.jpg" alt="..." loading="lazy">
                        </picture>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>