<section class="consent">
    <div class="consent__container">
        <div class="consent__wrapper">
            <h2 class="consent__title title">Согласие на обработку персональных данных</h2>
            <div class="document-text">
                <p>Пользователь, оставляя заявку на интернет-сайте https://padel-tennis-samara.ru/, принимает настоящее
                    Согласие на обработку персональных данных (далее – Согласие). Действуя свободно, своей волей и в
                    своем интересе, а также подтверждая свою дееспособность, Пользователь дает свое согласие ИП Левина
                    Виктория Олеговна (ИНН 631703493533), юридический и фактический адрес г. Самара, улица В.А.
                    Кизилова, 8, село Преображенка, сельское поселение Верхняя Подстепновка, Волжский район, Самарская
                    область, на обработку своих персональных данных со следующими условиями:</p>
                <p>Данное Согласие дается на обработку персональных данных, как без использования средств автоматизации,
                    так и с их использованием.</p>
                <p>Согласие дается на обработку следующих моих персональных данных, не являющихся специальными или
                    биометрическими: номера контактных телефонов; адреса электронной почты; место проживания; место
                    работы и занимаемая должность; дата рождения; место и время обучения; пользовательские данные
                    (сведения о местоположении; тип и версия ОС; тип и версия браузера; тип устройства и разрешение его
                    экрана; источник, откуда пришел пользователь на сайт, с какого сайта или по какой рекламе; язык ОС и
                    браузера; какие страницы открывает и на какие кнопки нажимает пользователь; IP-адрес).</p>
                <p>Персональные данные не являются общедоступными.</p>
                <p>Цель обработки персональных данных: обработка входящих запросов физических лиц с целью оказания
                    консультирования; аналитики действий физического лица на веб-сайте и функционирования веб-сайта;
                    проведение рекламных и новостных рассылок.</p>
                <p>Основанием для обработки персональных данных является: ст.24 Конституции Российской Федерации; ст.6
                    Федерального закона №152-ФЗ «О персональных данных»; Устав ИП Левина Виктория Олеговна; настоящее
                    согласие на обработку персональных данных.</p>
                <p>В ходе обработки с персональными данными будут совершены следующие действия: сбор; запись;
                    систематизация; накопление; хранение; уточнение (обновление, изменение); извлечение; использование;
                    передача (распространение, предоставление, доступ); блокирование; удаление; уничтожение.</p>
                <p>Персональные данные обрабатываются до отписки физического лица от рекламных и новостных рассылок.
                    Также обработка персональных данных может быть прекращена по запросу субъекта персональных данных.
                    Хранение персональных данных, зафиксированных на бумажных носителях, осуществляется согласно
                    Федеральному закону №125-ФЗ «Об архивном деле в Российской Федерации» и иным нормативно правовым
                    актом в области архивного дела и архивного хранения.</p>
                <p>Согласие может быть отозвано субъектом персональных данных или его представителем путем направления
                    письменного заявления ИП Левина Виктория Олеговна или его представителю по адресу, указанному в
                    начале данного Согласия.</p>
                <p>В случае отзыва субъектом персональных данных или его представителем согласия на обработку
                    персональных данных ИП Левина Виктория Олеговна вправе продолжить обработку персональных данных без
                    согласия субъекта персональных данных при наличии оснований, указанных в пунктах 2-11 части 1 статьи
                    6, части 2 статьи 10 и части 2 статьи 11 Федерального закона №152-ФЗ «О персональных данных» от
                    27.07.2006г.</p>
                <p>Настоящее Согласие действует все время до момента прекращения обработки персональных данных,
                    указанных в п.7 и п.8 данного Согласия.</p>
            </div>
        </div>
    </div>
</section>