<section class="open-sport">
    <div class="open-sport__container">
        <div class="open-sport__wrawpper">
            <div class="open-sport__block">
                <div class="open-sport__item">
                    <h1 class="open-sport__title title">Откройте для себя мир падел-тенниса с Padel Sport
                        Samara!
                    </h1>

                    <div class="open-sport__link">
                        @@include('../../elements/link/template.html',
                        {
                        name: 'Записаться в клуб',
                        url: '#',
                        arrow: true
                        })
                    </div>
                </div>
                <div class="open-sport__item">
                    <img src="../../../images/open.jpg" alt="...">
                </div>
            </div>
        </div>
    </div>
</section>