<div class="header__menu menu">
	<div class="menu__wrapper">
		<div class="menu__logo">
			<a href="/">
				<img src="images/logo-big.png" alt="logo">
			</a>
		</div>
		<ul class="menu__list">
			<li><a href="#">О нас</a></li>
			<li><a href="#">Услуги</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
		<div class="menu__phone"><a href="tel:+79277555579">+7 (927) 755-55-79</a></div>
		<div class="menu__more">
			@@include('../link/template.html', {
			name: 'Забронировать корт',
			url: '#',
			arrow: true
			})
		</div>


	</div>
</div>