<section class="service">
    <div class="service__container">
        <div class="service__wrapper">
            <h2 class="service__title title">Аренда кортов</h2>
            <div class="service__subtitle">Неважно, новичок вы или опытный игрок — у нас найдется вариант для каждого!
                Начните играть уже сегодня и выберите оптимальный тариф, который полностью соответствует вашим запросам!
            </div>
            <div class="service-card">
                <div class="service-card__list">
                    <div class="service-card-item">
                        <div class="service-card-item__big">
                            <div class="service-card-item__img">
                                <picture>
                                    <img src="../../../images/service/item1.jpg" alt="..." loading="lazy">
                                </picture>
                            </div>
                            <div class="service-card-item__desc">
                                <div class="service-card-item__name">Аренда кортов</div>
                                <div class="service-card-item__text">Будни 07:00-17:00</div>
                                <div class="service-card-item__info">
                                    <div class="service-card-item__price">от 2 500 руб.</div>
                                    <div class="service-card-item__more">
                                        @@include('../../elements/link/template.html', {
                                        name: false,
                                        arrow: true,
                                        url: '/'
                                        })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="service-card-item__small">
                            <div class="service-card-item__name">Абонемент на 10 часов</div>
                            <div class="service-card-item__info service-card-item-small__info">
                                <div class="service-card-item__price">
                                    <div class="service-card-item__price--old">25 000 руб.</div>
                                    <div class="service-card-item__price--new">22 000 руб.</div>
                                </div>
                                <div class="service-card-item__more">
                                    @@include('../../elements/link/template.html', {
                                    name: 'Отправить заявку',
                                    arrow: true,
                                    url: '/'
                                    })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="service-card-item">
                        <div class="service-card-item__big">
                            <div class="service-card-item__img">
                                <picture>
                                    <img src="../../../images/service/item2.jpg" alt="..." loading="lazy">
                                </picture>
                            </div>
                            <div class="service-card-item__desc">
                                <div class="service-card-item__name">Аренда и покупка инвентаря</div>
                                <div class="service-card-item__text">Будни 17:00-23:00</div>
                                <div class="service-card-item__info">
                                    <div class="service-card-item__price">от 400 руб.</div>
                                    <div class="service-card-item__more">
                                        @@include('../../elements/link/template.html', {
                                        name: false,
                                        arrow: true,
                                        url: '/'
                                        })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="service-card-item__small">
                            <div class="service-card-item__name">Абонемент на 10 часов</div>
                            <div class="service-card-item__info service-card-item-small__info">
                                <div class="service-card-item__price">
                                    <div class="service-card-item__price--old">25 000 руб.</div>
                                    <div class="service-card-item__price--new">22 000 руб.</div>
                                </div>
                                <div class="service-card-item__more">
                                    @@include('../../elements/link/template.html', {
                                    name: 'Отправить заявку',
                                    arrow: true,
                                    url: '/'
                                    })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="service-card-item">
                        <div class="service-card-item__big">
                            <div class="service-card-item__img">
                                <picture>
                                    <img src="../../../images/service/item3.jpg" alt="..." loading="lazy">
                                </picture>
                            </div>
                            <div class="service-card-item__desc">
                                <div class="service-card-item__name">Занятие с тренером</div>
                                <div class="service-card-item__text">Выходные дни 07:00-23:00</div>
                                <div class="service-card-item__info">
                                    <div class="service-card-item__price">от 5 000 руб.</div>
                                    <div class="service-card-item__more">
                                        @@include('../../elements/link/template.html', {
                                        name: false,
                                        arrow: true,
                                        url: '/'
                                        })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="service-card-item__small">
                            <div class="service-card-item__name">Абонемент на 10 часов</div>
                            <div class="service-card-item__info service-card-item-small__info">
                                <div class="service-card-item__price">
                                    <div class="service-card-item__price--old">25 000 руб.</div>
                                    <div class="service-card-item__price--new">22 000 руб.</div>
                                </div>
                                <div class="service-card-item__more">
                                    @@include('../../elements/link/template.html', {
                                    name: 'Отправить заявку',
                                    arrow: true,
                                    url: '/'
                                    })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>