<section class="corts-desc">
    <div class="corts-desc__container">
        <div class="corts-desc__wrapper">
            <h2 class="corts-desc__title title">О кортах</h2>
            <div class="corts-desc__block">
                <div class="corts-desc__item">
                    <p>Новый спортивный клуб уже доступен в Самаре - 1st Padel Sport Samara! Падел-теннис это уникальная
                        комбинация тенниса и сквоша, которая покоряет сердца спортсменов по всему миру. Теперь и вы
                        можете попробовать свои силы в этой захватывающей игре прямо в нашем городе.
                    </p>
                    <p>Наш клуб отличается высоким качеством кортов и первоклассным сервисом. В распоряжении посетителей
                        2 специализированных корта Испанского производства, чтобы обеспечить вам комфорт и безопасность
                        во время игры.</p>
                </div>
                <div class="corts-desc__item">
                    <p>1st Padel Sport Samara - это не только спорт, но и возможность провести время с друзьями и
                        семьей. Наш клуб предлагает уютную атмосферу и дружелюбную обстановку, где вы можете насладиться
                        игрой и отдохнуть после напряженного дня.</p>
                    <p>Не упустите шанс попробовать новый вид спорта и стать частью нашей большой культуры. Приходите к
                        нам и откройте для себя увлекательный мир падел-тенниса!</p>
                </div>
            </div>
            <div class="corts-desc__slider">
                @@include('../slider/template.html', {
                title: false
                })
            </div>
            <div class="corts-desc__more">
                @@include('../../elements/link/template.html', {
                name: 'Подробнее',
                url: '#',
                arrow: true
                })
            </div>
        </div>
    </div>
</section>