<section class="twin">
    <div class="twin__container">
        <div class="twin__link">
            <div class="twin__item">
                <h2 class="twin__title title">Падел-теннис — это не просто спорт, это стиль жизни!</h2>
            </div>
            <div class="twin__item">
                <div class="twin__text">Мы рады представить вам уникальную возможность окунуться в захватывающий мир
                    падел-тенниса, который сочетает в себе спортивный азарт и дружелюбную атмосферу.</div>
            </div>
        </div>
    </div>
</section>